<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">messages</a>
    <form method="POST" action="/new">
        <h1>New message</h1>
        <input type="text" name="author" id="author" placeholder="Name" required>
        <input type="text" name="message" id="message" placeholder="Enter a message" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>